body {
    font-family: 'Roboto', sans-serif
}

nav, header {
    font-family: 'Archivo', sans-serif
}

.container {
    border-radius: 10px
}

.container p, section a, label {
    font-size: 1.3rem;
    line-height: 1.3
}

.container p em {
    font-size: initial;
    display: block
}

#projets hr {
    margin-left: 30%;
    margin-right: 30%
}

#projets a .d-flex {
    font-size: 14px
}

h4 em {
    font-size: 1.2em;
    background-image: linear-gradient(#fff 50%, #FAE212 50%)
}

#competences .titre {
    background-image: linear-gradient(#fff 50%, #39ff14 50%)
}
