/* @font-face {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
} */

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 500ms;
}

body {
    margin: 0 auto;
    padding: 1vh;
    /* border: 1px solid black; */
}

hr {
    margin: 50px 0;
}

#bouton-mode-nuit {
    text-align: right;
    position: fixed;
    right: calc(0px + 1vh);
}

#bouton-mode-nuit small {
    cursor: pointer;
    background: red;
}

.mode-nuit {
    background: black;
    color: white;
}

h1 {
    font-size: 4.6em;
    margin: 5vh 0;
}

h2 {
    font-size: 2em;
    margin: 0 0 2vh 0;
}

h3 {
    font-size: 1.5em;
    margin: 0 0 2vh 0;
}

p {
    margin: 0 0 5vh 0;
    line-height: 1.6em;
    text-align: justify;
}

a {
    color: inherit;
}

.projets img {
    width: 100%;
}

.sites-flex {
    display: flex;
    justify-content: space-around;
}

.sites {
    margin: 0 auto;
}

.sites img {
    width: 50px;
}

@media (min-width: 600px) {
    h1 {
        font-size: 6em;
    }
}

@media (min-width: 768px) {
    body {
        max-width: 600px;
    }
}